<ion-content>
    <ion-slides pager="true" scrollbar="false" [options]="sliderOptions" (ionSlideTouchEnd)="ionSlideTouchEnd($event)"
        #banner>
        <ion-slide *ngFor="let slider of (imageSliders$ | async)">
            <img [src]="slider.imgUrl" [alt]="slider.caption" />
        </ion-slide>
    </ion-slides>

    <ng-container>
        <app-horizontal-grid>
            <span appGridItem *ngFor="let item of channels$ | async">
                <img appGridItemImage="2rem" [src]="item.icon" alt="" />
                <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
            </span>
        </app-horizontal-grid>
    </ng-container>

    <div class="ad-container" *ngIf="ad$ | async as ad">
        <img [src]="ad.imageUrl" alt="" class="ad-image" />
    </div>

    <app-product-list 
    [products]="products$ | async" 
    (loadMore)="loadMoreData($event)"
    [hasInfiniteData]="hasInfiniteData"
    ></app-product-list>
</ion-content>