<ion-header >
  <ion-toolbar >
    <ion-buttons >
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-button color="dark" [appGoTo]="'back'">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-title style="text-align: center;">关于lewo APP</ion-title>
          </ion-col>
          <ion-col size="1">
            <ion-button color="medium">
              <ion-icon name="share-alt"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item >
      <ion-label>应用名称</ion-label>
      <ion-note slot="end" color="dark">{{ appName }}</ion-note>
    </ion-item>
    <ion-item >
      <ion-label>包名</ion-label>
      <ion-note slot="end" color="dark">{{ packageName }}</ion-note>
    </ion-item>
    <ion-item >
      <ion-label>版本编码</ion-label>
      <ion-note slot="end" color="dark">{{ versionCode }}</ion-note>
    </ion-item>
    <ion-item >
      <ion-label>版本号</ion-label>
      <ion-note slot="end" color="dark">{{ versionNumber }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>