ion-footer {
    ion-toolbar {
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        --padding-end: 0;
    }

    ion-checkbox {
        margin-left: 0.8rem;
        margin-right: 0.5rem;
    }

    .amount {
        margin-right: 3px;
        color: #d24749;
    }

    .settle-account {
        height: 2.75rem;
        min-width: 5rem;
        max-width: 30vw;
    }
}