<ion-header>
  <ion-toolbar>
    <ion-title>
      购物车
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="checkout_info">
      <ion-checkbox [disabled]="!enabledCheckAll" color="danger"></ion-checkbox>全选
    </ion-buttons>
    <ion-label slot="end">合计: <span class="amount">{{ 0 | currency: 'CNY':'symbol-narrow' }}</span></ion-label>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="solid" expand="full" class="settle-account">
        结算(100)
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>