<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [appGoTo]="'back'">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="请输入搜索关键词" [(ngModel)]="keyword" animated class="top-search"></ion-searchbar>
    <ion-buttons slot="end" (click)="search()">
      <ion-button color="dark">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="sub-toolbar" *ngIf="showProducts">
    <div class="filter-list">
      <div class="filter-item active">综合</div>
      <div class="filter-item">销量</div>
      <div class="filter-item">价格</div>
      <div class="filter-item">筛选</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container" *ngIf="!showProducts">
    <div class="search-history">
      <div>
        <ion-item class="search-title" lines="none">
          <ion-label class="search-text">搜索历史</ion-label>
          <ion-icon slot="end" name="trash"></ion-icon>
        </ion-item>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Default</ion-label>
        </ion-chip>
      </div>
    </div>

    <div class="search-discover">
      <div>
        <ion-item class="search-title" lines="none">
          <ion-label class="search-text">搜索发现</ion-label>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              家具家具
            </ion-col>
            <ion-col size="6">
              家具家具
            </ion-col>
            <ion-col size="6">
              家具家具
            </ion-col>
            <ion-col size="6">
              家具家具
            </ion-col>
            <ion-col size="6">
              家具家具
            </ion-col>
            <ion-col size="6">
              家具家具
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <app-product-list [products]="product$ | async" [enabled]="showProducts" (loadMore)="loadMore($event)"
    (refresh)="refresh($event)"></app-product-list>
</ion-content>