:host {
  margin-top: 5px;
}

ul {
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: space-between;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

a {
  text-decoration: none;
  padding: 0 10px;
}

::-webkit-scrollbar {
  display: none;
}

.indicator {
  height: 2px;
  width: 98%;
  margin-top: 5px;
}