<ion-header>
  <ion-toolbar>
    <ion-title>我的收藏</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="product">
      <ion-label>商品</ion-label>
    </ion-segment-button>
    <ion-segment-button value="shop">
      <ion-label>店铺</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div>
    <div class="favorite-container" [ngSwitch]="tab">
      <ion-list *ngSwitchCase="'product'" class="favorite-list">
        <ion-item-sliding class="favorite-item" *ngFor="let item of favoriteProducts;let i=index;">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <div class="favorite-content">
              <span class="product-title">{{item}}商品商品商品商品商品商品商品商品商品sdfasdf sdfdsf对方水电费水电费收到水电费</span>
              <span class="product-price">{{ 2784 | currency: 'CNY':'symbol-narrow' }}</span>
            </div>
            <ion-icon name="more" slot="end" (click)="toggleOption(i)"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="remove(item)">取消收藏</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-card *ngIf="!favoriteProducts || favoriteProducts.length===0">
          <ion-card-content>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>再去逛逛</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-list>

      <ion-list *ngSwitchCase="'shop'">
        <ion-item-sliding class="favorite-item" *ngFor="let item of favoriteShops;let i=index;">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <div class="favorite-content">
              <span class="shop-title">{{item}}玛奇朵</span>
              <span class="shop-desc">品牌直营店</span>
            </div>
            <ion-icon name="more" slot="end" (click)="toggleOption(i)"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="remove(item)">取消收藏</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-card *ngIf="!favoriteShops || favoriteShops.length===0">
          <ion-card-content>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>再去逛逛</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-list>
    </div>
    <div class="recommend-container">
      <ion-item lines="full" class="recommend-title">
        <ion-label>为你推荐</ion-label>
      </ion-item>
      <div>
        <app-product-list [products]="recommendProducts$ | async" [displayMode]="'vertical'"></app-product-list>
      </div>
    </div>
  </div>
</ion-content>