<div class="product-list-container" [ngClass]="displayMode">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="refreshProduct($event)" *ngIf="enabled">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="正在刷新中...">
    </ion-refresher-content>
  </ion-refresher> -->

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col [size]="size" *ngFor="let shop of shops">
        <div class="product-item" (click)="selectedItem(shop)">
          <div class="product-image">
            <ion-thumbnail>
              <ion-img [src]="shop?.imageUrl"></ion-img>
            </ion-thumbnail>
          </div>
          <div class="product-content">
            <span class="product-title">{{ shop?.name }}</span>
            <span class="product-tags"> </span>
            <span class="product-price"></span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-infinite-scroll *ngIf="hasInfiniteData && enabled" threshold="100px" (ionInfinite)="findMoreProduct($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-item class="ending-tips" *ngIf="!hasMore">
    <ion-label>已经全部加载完毕</ion-label>
  </ion-item>
</div>