<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" [appGoTo]="'scan'">
        <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar class="top-search" placeholder="搜索" (click)="gotoSearch()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon size="small" slot="icon-only" name="share-alt"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <app-scrollable-tab [menus]="topMenus$ | async" [backgroundColor]="'#fff'" [indicatorColor]="'red'"
  [titleColor]="'#3f3f3f'" [titleActiveColor]="'red'" [selectedTabLink]="selectedTabLink"
  (tabSelected)="handleTabSelected($event)"></app-scrollable-tab>

</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>