.login-content {
    --background: #f5f5f5;

    .login-logo {
        width: 200px;
        height: 60px;
        margin: 35px auto;
    }

    .login-box {
        background: transparent;
        padding: 0 1.2rem;

        ion-item {
            margin-bottom: 0.8rem;
            font-size: 0.9rem;
        }

        .item-last {
            --background: transparent;
            margin-top: 0.6rem;
            --color: #000;

            ion-label:nth-last-of-type(2) {
                min-width: 80px;
            }
        }

        ion-button.submit {
            margin-top: 1rem;
        }
    }

    ion-item.code {
        --inner-padding-end: 0;

        ion-button {
            height: 100%;
            width: 7rem;
            margin: 0;
        }
    }
}