<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center">分类</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="category-container">
    <div class="left-container">
      <ion-list class="category-list" lines="none">
        <ion-item lines="inset" *ngFor="let category of leftCategoryList$ | async;let i=index;"
          [ngClass]="{'selected': category.id === (selectedCategory$ | async)}"
          (click)="selectedCategory(category.id)">
          <ion-label>{{ category.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="right-container">
      <div class="category-detail">
        <div class="category-detail-box">
          <span class="category-detail-header"> 分类 </span>
          <div class="category-detail-list">
            <div class="category-detail-item" *ngFor="let item of rightCategoryList$ | async ">
              <div class="item-img">
                <!-- <img [src]="imgSrc" /> -->
                <ion-thumbnail>
                  <ion-img [src]="imgSrc"></ion-img>
                </ion-thumbnail>
              </div>
              <div class="item-label"><span>{{ item.name }}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>