/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


$golbalBackground:#F1F2F6;

html {
    // font-size: 62.5%;
    // color: #191A1B;
}

html body {
    margin: 0;
    padding: 0;
    outline: none;
    /* font-size: 12px;
    font-family: "Microsoft YaHei", "hiragino sans gb", "SimHei", "SimSun", Arial, Lucida Grande, Tahoma, sans-serif;
    color: #333;
    height: 100%; */
    background: $golbalBackground;
}

div,
address,
blockquote,
iframe,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
th,
td,
form,
legend,
fieldset,
input,
button,
select,
textarea,
a,
center,
strong,
b,
i {
    margin: 0;
    padding: 0;
}

input,
button {
    outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border-color: transparent !important;
}

ul,
ol {
    list-style-type: none;
}

ul li,
ol li {
    vertical-align: bottom;
    list-style-type: none;
    zoom: 1;
}

img,
fieldset {
    border: 0 none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a img {
    border: 0 none;
}

em,
i,
b {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0px;
    height: 0px;
    visibility: hidden;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.pos-fix {
    position: fixed;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.custom-loading {
    --background: transparent;
}

.custom-toast {
    --max-width: 50vw;
}

/* override ionic component style */
ion-content {
    background: $golbalBackground;
}

ion-title {
    --color: #191A1B;
    font-weight: normal;
}

ion-label {
    --color: #191A1B;
}

ion-list {
    background: $golbalBackground;
}

ion-item {
    --border-color: #efefef;
}

ion-segment {
    background: #fff;
}

ion-infinite-scroll {
    background: $golbalBackground;
}

ion-refresher {
    background: $golbalBackground;
}

.overscroll {
    background: $golbalBackground;
}